---
title: Plasma Mobile - Plasma in your pocket
layout: default
---

<section class="home" style="background-image:url(https://kde.org/announcements/plasma/5/5.21.0/mk.webp);background-size:cover;color:#fff">
  <div class="container align-items-center">
    <div>
      <h2 class="h1 mt-0">Plasma, in your pocket.</h2>
      <h3>Privacy-respecting, open source and secure phone ecosystem</h3>
    </div>
    <img src="/img/plasmaphone.svg"  class="img-fluid" style="width: 500px">
  </div>
</section>

<section class="openup">
  <div class="container">
    <img class="img-fluid mx-auto" src="/img/triangles.png" alt="triangles" width="224" height="128" />
    <h2 class="h1">Open up.</h2>
    <p>Plasma Mobile is an open-source user interface for phones. Running on top of a Linux distribution, Plasma Mobile turns  your phone into a fully hacking device.</p>
    <p>
      <a href="/get/" class="button">Install</a>
      <a href="/findyourway/" class="button">Contribute</a>
    </p>
    <p>Using the multi-platform toolkit Qt, the flexible extensions of KDE Frameworks plus the power of Plasma Shell, Plasma Mobile is built with technology which feels equally at home on the desktop and mobile devices.</p>
    <div class="laptop-with-overlay mx-auto" style="max-width: 900px">
      <img class="laptop img-fluid mb-3" src="https://kde.org/content/plasma-desktop/laptop.png" alt="">
      <div class="laptop-overlay">
          <img class="img-fluid mb-3" src="https://kde.org/announcements/plasma/5/5.21.0/plasma-dark.webp" alt="Plasma Desktop">
      </div>
      <img src="https://www.plasma-mobile.org/img/plasmaphone.svg" alt="Plasma Mobile" style="bottom: 0; rigth: 15%; width: 25%" class="position-absolute">
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="wayland flex-column flex-md-row">
      <div class="textwidget order-md-1">
        <h2>KWin and Wayland</h2>
        <p>Wayland is the next-generation protocol for delivering cutting-edge interfaces which are silky smooth. KWin is the battle-tested window manager which implements Wayland, delivering a polished and reliable experience on both the desktop and mobile devices.</p>
      </div>
      <img class="alignnone mr-4 order-md-0" src="/img/wayland.png" alt="wayland" width="600" height="500" />
    </div>
    <hr />
    <div class="opensource flex-column flex-md-row">
      <div>
        <h2>Making full use of Open Source</h2>
        <p>Plasma Mobile combines many powerful software tools from established projects to make a whole greater than the sum of its parts. <br /> Ofono provides our telephone solution, Telepathy offers many communication utilities, and Pulseaudio drives the Plasma Mobile sound system.</p>
        <ul>
          <li><a href="https://kde.org/products/frameworks/" target="_blank">KDE Frameworks</a></li>
          <li><a href="https://kde.org/products/kirigami/" target="_blank">Kirigami</a></li>
          <li><a href="https://01.org/ofono" target="_blank">Ofono</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Telepathy_%28software%29" target="_blank">Telepathy</a></li>
          <li><a href="https://en.wikipedia.org/wiki/PulseAudio" target="_blank">Pulseaudio</a></li>
        </ul>
      </div>
      <img class="img-fluid adapting" src="/img/telephony.png" alt="telephony" width="840" height="1000" />
    </div>
    <div class="d-flex flex-md-row flex-column">
      <div class="order-md-1">
        <h2>Adapting to your needs</h2>
        <p>Being based on the most flexible desktop in the world means you can truly make your phone your own. Add and modify widgets, change colour schemes, fonts, and much, much more.</p>
      </div>
      <img class="img-fluid adapting mr-4 order-md-0" src="/img/schemes.png" alt="schemes" width="800" height="600" />
    </div>
  </div>
</section>
