---
title: Nexus 5/X
permalink: /nexus-5/
layout: default
---

<meta http-equiv="refresh" content="0; url=/neon-arch-reference-rootfs/" />

<p>This page has moved, you should be automatically redirected. If not, please click <a href="/neon-arch-reference-rootfs/">here</a>.</p>
