---
title:      "Akademy 2019 recap"
created_at: 2019-10-12 11:30:00 UTC
author:     Bhushan Shah
layout:     post
---
<p>Akademy 2019 was hosted in the Milan, Italy. I had opportunity to attend the event and meet the other KDE developers, designers and users.</p>

<h2 id="talks">Talks</h2>

<p>There were many interesting talks, including use of opensource in government, flying drones, virtual reality and several community related topics. Honestly it is impossible to list all the awesome talks I attended here, so go and <a href="https://conf.kde.org/en/akademy2019/public/schedule">check schedule</a> for list of talks and slides. However I want to highlight the one talk which I gave,</p>

<h3 id="plasma-on-embedded-devices">Plasma on embedded devices</h3>

<p>In Akademy 2018, I gave a talk about <a href="https://conf.kde.org/en/Akademy2018/public/events/28">Plasma on mobile devices</a>. Talk discussed why it is harder to run a Linux userland on the off-the-shelf mobile devices. This year I and Marco presented a slightly different topic, <a href="https://conf.kde.org/en/akademy2019/public/events/109">Plasma on embedded devices</a>. Talk was about what solutions are offered by the KDE community for such embedded devices, and what efforts are being made.</p>

<p>Marco Martin also presented a new shell package, plasma-nano, which is a minimal shell you can extend to create a Plasma based user interfaces for embedded devices.</p>

<h2 id="birds-of-feather-sessions">Birds of Feather sessions</h2>

<h3 id="gitlab-community--workflow">Gitlab community &amp; Workflow</h3>

<p><a href="https://about.gitlab.com/">Gitlab</a> developers <a href="https://gitlab.com/nolith">Alessio Caiazza</a>, <a href="https://gitlab.com/jacopo-beschi">Jacopo Beschi</a> and <a href="https://gitlab.com/rpaik">Ray Paik</a> hosted a BoF session about the Gitlab workflow, and how to contribute to Gitlab. It was interesting BoF to attend. Seeing as KDE is working on adoption of the Gitlab for it’s code-hosting. It was quite useful session to attend.</p>

<h3 id="plasma-mobile">Plasma Mobile</h3>

<p>On Tuesday, We hosted a Plasma Mobile BoF, where we discussed topics ranging from general shell user-interface to the applications, topics which were discussed includes,</p>

<ul>
  <li>File chooser implementation for Plasma Mobile: Currently it just shows the desktop based file dialog, which is not user friendly on mobile</li>
  <li>Start-up speed improvements for shell and applications</li>
  <li>Updating the information on <a href="https://plasma-mobile.org">Plasma Mobile website</a></li>
  <li>Documentation and developer experience, and how to improve it</li>
  <li>Various application specific issues</li>
  <li>Hosting a Plasma Mobile sprint in 2020</li>
  <li>Status of Packaging for Plasma Mobile in various distribution</li>
</ul>

<p>Overall, it was quite productive BoF, even though we were constrained by the time!</p>

<h3 id="plasma-on-devices">Plasma on Devices</h3>

<p>As a extension to our talk, Marco and I hosted a “Plasma on devices” BoF. Where we demostrated the Plasma Nano shell. Talked about the infrastructure we have currently in the Plasma, and also talked about how we can make this more interesting for hardware vendors.</p>

<h3 id="kde-pim">KDE PIM</h3>

<p>As Plasma Mobile is <a href="https://www.plasma-mobile.org/blog/">making various improvements</a>, one of the requirement is the personal information management applications like Calender, Email, Contacts will be needed, I attended the KDE PIM BoF to discuss how best these two teams (Plasma Mobile and KDE PIM) can work together, you can find out more details abut this in <a href="https://volkerkrause.eu/2019/09/15/kde-akademy-2019-recap.html">Volker Krause blog</a>. In general we discussed following topics,</p>

<ul>
  <li>Moving of KCalendarCore and Kcontacts to KDE Frameworks</li>
  <li>Moving of the KDAV protocol library to KDE Frameworks</li>
  <li>Plugin Infrastructure in the KCalendarCore</li>
  <li>KAccounts integration in the KDEPIM</li>
</ul>

<h3 id="kde-india">KDE India</h3>

<p>Indian KDE-ers (is it even word? I made it up) met together to discuss the possible location and dates for next conf.kde.in, and how better we can improve the conf.kde.in organization procedure. There were several possible venues and dates were suggested by the attendees.</p>

<h3 id="sysadmin">Sysadmin</h3>

<p>Ben Cooksley hosted a KDE sysadmin BoF, where we discussed various topics related to our infrastructure, and scale of data/traffic we have to handle. We also agreed upon some internal todo items to work on in future.</p>

<h3 id="online-accounts-integration-in-kde">Online Accounts Integration in KDE</h3>

<p>As a follow-up to KDE PIM BoF, I and Daniel Vrátil hosted a Online Accounts integration BoF, where we discussed various topics,</p>

<ul>
  <li>Current state of kaccounts infrastructure</li>
  <li>Possible API improvements for KAccounts</li>
  <li>Where we can make use of the KAccounts in KDE</li>
</ul>

<h3 id="student-programs">Student Programs</h3>

<p>We hosted a BoF session to talk about the KDE Student Programs, Google summer of Code, Season of KDE, and GCI. We also discussed the timeline and structure of Season of KDE program. Short note that I will be attending Google Summer of Code 2019 Mentor summit in Munich later this week.</p>

<h2 id="closing-thoughts">Closing thoughts</h2>

<p>Overall quite exciting event, I would like to thank KDE e.V. for sponsoring the accomodation and travel. It is quite awesome to meet community in-person and share ideas, and learn new things!</p>