<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <link href="/css/findyourway/style.css" rel="stylesheet" />
  <body>
    {% include header.html %}
    <main class="container">
      {{ content }}
    </main>
    {% include footer.html %}
    <script type="text/javascript" src="/js/jquery/jquery.js"></script>
    <script src="/js/findyourway/handlebars.runtime.js"></script>
    <script src="/js/findyourway/way.js"></script>
    <script src="/js/findyourway/displayRender.js"></script>
    <script src="/js/findyourway/foopy.js"></script>
    <script src="/js/findyourway/l10n.js"></script>
  </body>
</html>
